table {
    width: calc(100% - 30px);
    margin: 15px;
    text-align: center;
  }
  
.mat-form-field {
  font-size: 14px;
  width: calc(25% - 4px);
  margin: 2px;
}
  
td, th {
  text-align: left;
  width: 25%;
  height: 24px;
  font-size: 20px;
}

.filter{
  width: 50%;
}

tr.mat-row:hover{
  cursor: pointer !important;
  opacity: .5;
}

.mat-raised-button{
  margin-right: 15px;
  margin-left: 15px;
}

.right{
  float: right;
}

.classimg{
  height: 44px;
  margin-top: 2px;
}

.form-container{
  display: inline-block;
  width: 75%;
.mat-form-field{
  width: calc(100%/3 - 4px) !important;
}
}